.category {
  $itemPerSlide: 5;
  margin: 10px 0 50px 0;
  padding: 0 15px;

  &__wrap {
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    &--box {
      width: 100%;
      overflow: hidden;
    }
  }
  &__container {
    display: flex;
    transition: all 0.3s ease-in;
  }
  &__item {
    background-color: #fff;
    width: calc(100% / $itemPerSlide);
    flex: 1 0 auto;
    padding: 18px 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    @include tablet {
      width: calc(100% / 3);
    }
    @include mobile {
      width: calc(100% / 2);
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img {
      width: 50px;
      height: auto;
    }
  }
  &--button {
    position: absolute;
    font-size: 20px;
    padding: 4px;
    background-color: var(--main-bg);
    color: var(--main-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &.prev {
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.next {
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.disable {
      opacity: 0.5;
      cursor: none;
      pointer-events: none;
    }
  }
}
