.admin {
  position: relative;
  display: flex;
  canvas {
    background-color: #fff;
    margin: 2rem 0;
    width: 100% !important;
  }
  &-main {
    background-color: var(--main-bg);
    min-height: 100vh;
    width: 100%;
    .container {
      padding: 20px;
      @include mobile {
        padding: 10px 5px 10px 20px;
      }
    }
    @include tablet {
      padding-left: 15px;
    }
    .dashboard {
      &-heading {
        font-weight: 600;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      &-top {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        gap: 16px;
        margin: 1rem 0 3.5rem 0;
      }
      &-box {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 14px;
        padding: 1.5rem 2rem;
        h2,
        p {
          color: #464255;
        }
        p {
          font-weight: 400;
        }
      }
      // .chart-box {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   canvas {
      //     width: 50% !important;
      //     height: auto !important;
      //   }
      // }
    }
  }
}
