.login {
  &-modal {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 8px 8px #ccc;
  }
  &-head {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
  }
  &-form {
    margin-top: 20px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    label {
      text-transform: capitalize;
      margin: 15px 0 10px 0;
    }
    input {
      width: 100%;
      padding: 10px 15px;
      font-size: 18px;
      background-color: var(--main-bg);
      border-radius: 5px;
    }
  }
  &-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    gap: 0 10px;
    color: #636363;
    a {
      color: var(--main-color);
    }
  }
}
