.banner-vertical {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto 20px auto;
  img {
    width: 100%;
    height: auto;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    h4 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    button {
      position: relative;
      background-color: transparent;
      color: var(--main-color);
      padding: 10px 28px;
      font-size: 16px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 500;
      z-index: 3;
      border: 1px solid var(--main-color);
      font-weight: 600;
      &::after {
        content: "";
        width: 0;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: var(--main-color);
        color: #fff;
        z-index: -1;
        border-radius: 3px;
      }
    }
    button:hover {
      color: #fff;
    }
    button:hover::after {
      width: 100%;
      transition: width 0.2s linear, color 0.2s linear;
    }
  }
}
