.banner {
  padding: 30px 0;
  background: #fff;
  &__container {
    display: flex;
    align-items: center;
    gap: 0 12px;
    height: 400px;
    max-width: 1170px;
    margin: 0 auto;
    @include tablet {
      flex-wrap: wrap;
      height: unset;
      max-width: unset;
      padding: 0 16px;
    }
  }
  &__slide {
    height: 100%;
    flex: 1 1 50%;
    position: relative;
    overflow: hidden;
    @include tablet {
      display: none;
    }
    &__item {
      flex: 1 1 100%;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      transition: all 0.3s linear;
      &.prev {
        transform: translateX(-100%);
      }
      &.next {
        transform: translateX(100%);
      }
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        aspect-ratio: unset;
      }
      &__wrap {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
        max-width: 55%;
      }
      &__type {
        text-transform: uppercase;
        color: #ff6d19;
        font-weight: 500;
        font-size: 0.9rem;
      }
      &__name {
        text-transform: capitalize;
        color: #010101;
        font-weight: 600;
        font-size: 1.6rem;
        padding: 10px 0;
      }
      &__desc {
        text-transform: capitalize;
        color: #010101;
        font-weight: 300;
        font-size: 0.9rem;
      }
    }
    // &--button {
    //   position: absolute;
    //   font-size: 20px;
    //   padding: 4px;
    //   background-color: var(--main-bg);
    //   color: var(--main-color);
    //   cursor: pointer;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 50%;
    //   &.prev {
    //     left: 5px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }
    //   &.next {
    //     right: 5px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }
    //   &.disable {
    //     opacity: 0.5;
    //     cursor: none;
    //     pointer-events: none;
    //   }
    // }
    &--button {
      position: absolute;
      right: 30px;
      bottom: 10px;
      display: flex;
      align-items: center;
      gap: 0 10px;
      &-item {
        width: 30px;
        height: 8px;
        background-color: var(--main-bg);
        cursor: pointer;
        border-radius: 5px;
        opacity: 0.5;
        &.active {
          opacity: 1;
          cursor: none;
          pointer-events: none;
        }
      }
    }
  }
  &__grid {
    height: 100%;
    flex: 1 1 50%;
    grid-gap: 10px;
    display: grid;
  }
  &__item {
    position: relative;
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-child(4) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: unset;
    }
    &__wrap {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 1;
      max-width: 55%;
    }
    &__type {
      text-transform: uppercase;
      color: #ff6d19;
      font-weight: 500;
      font-size: 12px;
    }
    &__name {
      text-transform: capitalize;
      color: #010101;
      font-weight: 600;
      font-size: 16px;
      padding: 10px 0;
    }
    &__desc {
      text-transform: capitalize;
      color: #010101;
      font-weight: 300;
      font-size: 14px;
      @include mobile {
        display: none;
      }
    }
  }
}
