.store {
  position: relative;
  &__main {
    padding-left: var(--filter-width);
    background-color: var(--main-bg);
    @include tablet {
      padding-left: 30px;
    }
    .product {
      padding: 0 10px;
    }
  }
}
