.user {
  position: relative;
  &-main {
    padding-left: var(--filter-width);
    background-color: var(--main-bg);
    @include tablet {
      padding-left: 15px;
    }
    .container {
      padding: 20px;
      min-height: 100vh;
    }
  }
  .account {
    display: flex;
    .wrap {
      margin: 0 auto;
    }
    &__top {
      display: flex;
      align-items: center;
      gap: 0 20px;
      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        position: absolute;
        bottom: 15px;
        right: 10px;
        padding: 5px;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
      }
      &-img {
        position: relative;
        img {
          width: 8rem;
          height: auto;
        }
      }
      &-text {
        h4 {
          text-transform: capitalize;
        }
      }
    }
    &__bottom {
      margin: 2.4rem 0;
      &-box {
        display: flex;
        align-items: center;
        gap: 0 20px;
        &--input {
          width: 100%;
          margin-bottom: 1.4rem;
          label {
            font-weight: 400;
            opacity: 0.9;
          }
          input {
            margin-top: 6px;
            width: 100%;
            padding: 8px 16px;
            border-radius: 6px;
            font-size: 16px;
            border: 1px solid transparent;
            &:focus {
              border: 1px solid #ccc;
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
