.filter {
  padding: 20px 30px 20px 20px;
  width: var(--filter-width);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  @include tablet {
    padding-right: 40px;
    top: 0;
    transform: translateX(calc(30px - var(--filter-width)));
    transition: transform 0.15s linear;
    &:hover {
      transform: translateX(0);
    }
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    bottom: 0;
    background-color: #e3e3e3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @include tablet {
      display: block;
    }
  }
  &__wrap {
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 500;
    svg {
      cursor: pointer;
    }
  }
  &__list {
    display: flex;
    margin-top: 14px;
    flex-direction: column;
    gap: 12px 0;
    @keyframes fade {
      from {
        transform: translateY(-20px);
        opacity: 0.8;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    animation: fade 0.1s linear;
    &__item {
      display: flex;
      align-items: center;
      gap: 0 20px;
      input {
        box-shadow: 1px 1px 3px 0px #ccc;
        width: 15px;
        height: 15px;
      }
      label {
        cursor: pointer;
        text-transform: capitalize;
      }
    }
  }
}
