table {
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: separate;
  margin: 2.5rem 0;
  background-color: #fff;
  padding: 5px 10px;
  thead {
    display: table-header-group;
  }
  tr {
    display: table-row;
    border-radius: 4px;

    th {
      padding: 0.75rem;
      text-align: left;
      text-transform: capitalize;
      font-weight: 600;
    }
    td {
      display: table-cell;
      border-bottom-width: 0;
      padding: 0.75rem;
      text-align: left;
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: var(--main-bg);
      }
      td:nth-child(5) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon {
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 4px;
          &:nth-child(1) {
            background-color: #2563eb;
            color: #fff;
          }
          &:nth-child(2) {
            background-color: #dc2626;
            color: #fff;
          }
        }
      }
    }
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  p {
    font-weight: 500;
  }
}
