.product {
  background-color: var(--main-bg);

  &__container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px;
  }
  &__type {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
    span {
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0 10px;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 10px;
    padding: 10px 0 50px 0;
  }
}
